*{
    padding: 0px;
    margin: 0px;
    transition: all 0.5s;
}
body{
    background-image: linear-gradient(70deg,rgb(153, 19, 19));
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#outerDiv{
    width: ;
}